body {
    width: device-width;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-image: url('/public/assets/img/000001.png');
    background-size: cover;
    background-repeat: auto;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.main {
    width: device-width;
    margin: auto;
}

.header,
.nav,
.container,
.footer {
    float: none;
    width: 100%;
    box-sizing: border-box;
}

.header {
    padding: 52%;
    width: 100%;
    text-align: center;
}

.nav {
    padding: 20px;
    text-align: center;
}

.lside {
    width: 50%;
    float: left;
}

.rside {
    width: (device-width-500)/2px;
    float: right;
}

.content {
    margin: 0px (device-width-500)/px;
}

.lside,
.rside,
.content {
    padding: 5px;
    box-sizing: border-box;
}

.footer {
    padding: 10px;
    text-align: center;
}

#joinpage {
    float: none;
    position: relative;
    width: 20%;
    height: 10%;
    background: inherit;
    margin: 50px auto;
    padding: 6vmin;
    border-radius: 5px;
}

#joinform {
    float: none;
}

#roominput {
    border: none;
    padding: 1rem;
    flex-grow: 1;
    border-radius: 3rem;
    margin: 1rem;
    text-align: center;
    background-color: cornflowerblue;
}

#nameinput {
    border: none;
    padding: 1rem;
    flex-grow: 1;
    border-radius: 3rem;
    margin: 1rem;
    text-align: center;
    background-color: cornflowerblue;
}

#joinform>button {
    text-align: center;
    background-color: cornflowerblue;
    border: none;
    padding: 1rem;
    margin: 1rem;
    border-radius: 4rem;
    outline: none;
    color: #fff
}

#urlform {
    background: rgba(0, 0, 0, 0.15);
    padding: 0rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#goinput {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#urlform>button {
    background: cornflowerblue;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 5px;
    outline: none;
    color: #fff;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: cornflowerblue;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 5px;
    outline: none;
    color: #fff;
}

@media screen and (max-width:device-width) {

    .lside,
    .rside,
    .content {
        width: device-width;
        margin: 0px;
    }
}